{% extends 'base.html.twig' %}

{% block title %}Welcome to store{% endblock %}

{% block body %}
    <div class="slider-area">
        <div class="slider-active-2 owl-carousel">
            <div class="single-slider-4 bg-img furits-slider" style="background-image: url(img/slider/slider-background.jpg)">
                <!-- <div class="single-slider-4 bg-img furits-slider" > -->
                <div class="container">
                    <div class="fadeinup-animated furits-content text-center">
                        <img class="animated" src="img/slider/12.png" alt="">
                        <p class="animated">Health is not about the weight you lose. But about the life you gain!</p>
                        <a class="furits-slider-btn btn-hover animated" href="product-details.html">Shop Now</a>
                        <!-- <img class="animated slide-img-position" src="img/slider/slider-image-1.png" alt=""> -->
                    </div>
                </div>
            </div>
            <div class="single-slider-4 bg-img furits-slider" style="background-image: url(img/slider/slider-background.jpg)">
                <!-- <div class="single-slider-4 bg-img furits-slider"> -->
                <div class="container">
                    <div class=" fadeinup-animated furits-content text-center">
                        <img class="animated" src="img/slider/12.png" alt="">
                        <p class="animated">Health is not about the weight you lose. But about the life you gain!</p>
                        <a class="furits-slider-btn btn-hover animated" href="product-details.html">Shop Now</a>
                        <!-- <img class="animated slide-img-position slide-img-position-2" src="img/slider/slide-image-2.png" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-social">
            <span>Follow us on:  </span>
            <ul>
                <li><a href="#"><i class="ti-facebook"></i></a></li>
                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                <li><a href="#"><i class="ti-pinterest"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- banner area start -->
    <div class="banner-area pt-90 pb-160 fix">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="furits-banner-wrapper mb-30 wow fadeInLeft">
                        <img src="img/banner/section-image-1.jpg" alt="">
                        <div class="furits-banner-content">
                            <h4>Super Natural</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing.</p>
                            <a class="furits-banner-btn btn-hover" href="#">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="furits-banner-wrapper mb-30 wow fadeInUp">
                        <img src="img/banner/section-image-2.jpg" alt="">
                        <div class="furits-banner-content">
                            <h4>KIWI Fresh</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing.</p>
                            <a class="furits-banner-btn btn-hover" href="#">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="furits-banner-wrapper mb-30 wow fadeInRight">
                        <img src="img/banner/section-image-3.jpg" alt="">
                        <div class="furits-banner-content">
                            <h4>Pomegranate</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing.</p>
                            <a class="furits-banner-btn btn-hover" href="#">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner area end -->
    <!-- product area start -->
    <div class="product-style-area gray-bg-4 pb-105">
        <div class="container-fluid">
            <div class="section-title-furits bg-shape text-center mb-80">
                <img src="img/icon-img/49.png" alt="">
                <h2>Our Newest Products</h2>
            </div>
            <div class="product-fruit-slider owl-carousel">
                {% for product in newestProducts %}
                    <div class="product-fruit-wrapper">
                        <div class="product-fruit-img">
                            <img src="{{ get_image_size(product.baseImage, constant('src\\Model\\EnumType\\EnumImageSizeType::IMAGE_SIZE_MEDIUM')) }}" alt="">
                            <div class="product-furit-action">
                                <a class="furit-animate-left product-card-add-to-cart" data-product-id="{{ product.id }}" title="Add To Cart" href="#">
                                    <i class="pe-7s-cart"></i>
                                </a>
                                <a class="furit-animate-right" title="Wishlist" href="#">
                                    <i class="pe-7s-like"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-fruit-content text-center">
                            <h4><a href="/product/{{ product.id }}">{{ product.name }}</a></h4>
                            <span>${{ product.price }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- product area end -->
    <!-- banner area start -->
    <div class="fruits-choose-area pb-65 bg-img" style="background-image: url(img/banner/description-image.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-12">
                    <div class="fruits-choose-wrapper-all">
                        <div class="fruits-choose-title">
                            <h2>WHY CHOOSE US ?</h2>
                        </div>
                        <div class="fruits-choose-wrapper">
                            <div class="single-fruits-choose">
                                <div class="fruits-choose-serial">
                                    <h3>01</h3>
                                </div>
                                <div class="fruits-choose-content">
                                    <h4>Lorem Ipsum Dolar Sit.</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="single-fruits-choose" style="justify-content: flex-end;">
                                <div class="fruits-choose-content" style="display: flex;flex-direction: column;align-items: flex-end;">
                                    <h4>Lorem Ipsum Dolar Sit.</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                                <div class="fruits-choose-serial">
                                    <h3>02</h3>
                                </div>
                            </div>
                            <div class="single-fruits-choose">
                                <div class="fruits-choose-serial">
                                    <h3>03</h3>
                                </div>
                                <div class="fruits-choose-content">
                                    <h4>Lorem Ipsum Dolar Sit.</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner area end -->
    <!-- services area start -->
    <div class="fruits-services ptb-200">
        <div class="fruits-services-wrapper">
            <div class="single-fruits-services">
                <div class="fruits-services-img">
                    <img src="img/icon-img/53.png" alt="">
                </div>
                <div class="fruits-services-content">
                    <h4>Collect Natural Food</h4>
                    <p>Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is simply industry.</p>
                </div>
            </div>
            <div class="single-fruits-services">
                <div class="fruits-services-img">
                    <img src="img/icon-img/54.png" alt="">
                </div>
                <div class="fruits-services-content">
                    <h4>Set Your Location.</h4>
                    <p>Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is simply industry.</p>
                </div>
            </div>
            <div class="single-fruits-services">
                <div class="fruits-services-img">
                    <img src="img/icon-img/55.png" alt="">
                </div>
                <div class="fruits-services-content">
                    <h4>Collect Yor Product</h4>
                    <p>Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is simply industry.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- services area end -->
    <!-- testimonials area start -->
    <div class="testimonials-area pt-130 pb-125 wishlist bg-img" style="background-image: url(img/banner/47.jpg)">
        <div class="container">
            <div class="testimonials-active owl-carousel">
                <div class="fruits-single-testimonial text-center">
                    <img alt="" src="img/team/kija-kockar.jpg">
                    <h3>This is a powerful friut store template</h3>
                    <p>Simply dummy text of the Lorem Ipsum printing and typesetting industry. Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the Lorem Ipsum printing and typesetting industry. </p>
                    <div class="client-name">
                        <span class="client-name-bright">Martha White  /</span>
                        <span>UIUX DEsigner</span>
                    </div>
                    <div class="fruits-ratting">
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                    </div>
                </div>
                <div class="fruits-single-testimonial text-center">
                    <img alt="" src="img/team/kija-kockar.jpg">
                    <h3>This is a powerful friut store template</h3>
                    <p>Simply dummy text of the Lorem Ipsum printing and typesetting industry. Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the Lorem Ipsum printing and typesetting industry. </p>
                    <div class="client-name">
                        <span class="client-name-bright">Martha White  /</span>
                        <span>UIUX DEsigner</span>
                    </div>
                    <div class="fruits-ratting">
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                    </div>
                </div>
                <div class="fruits-single-testimonial text-center">
                    <img alt="" src="img/team/kija-kockar.jpg">
                    <h3>This is a powerful friut store template</h3>
                    <p>Simply dummy text of the Lorem Ipsum printing and typesetting industry. Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the Lorem Ipsum printing and typesetting industry. </p>
                    <div class="client-name">
                        <span class="client-name-bright">Martha White  /</span>
                        <span>UIUX DEsigner</span>
                    </div>
                    <div class="fruits-ratting">
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonials area end -->
    <!-- blog area end -->
    <div class="blog-area pt-130 pb-70">
        <div class="container">
            <div class="section-title-furits text-center mb-95">
                <img src="img/icon-img/49.png" alt="">
                <h2>Recent Fruits News</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-wrapper mb-30 wow fadeInLeft">
                        <div class="blog-img-2">
                            <a href="blog-details.html"><img alt="" src="img/blog/beautiful-blur-customer-1526819.jpg"></a>
                        </div>
                        <div class="blog-info-wrapper-2 text-center">
                            <div class="blog-meta-2">
                                <ul>
                                    <li>Firm</li>
                                    <li><a href="#">Mango</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">Ezone Fruit Blog Lorem Ipsum is simply Title goes here.</a></h3>
                            <div class="blog-meta-2">
                                <ul>
                                    <li><a href="#">02 Like</a></li>
                                    <li><a href="#">04 Comment</a></li>
                                    <li><a href="#">300 View</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-wrapper mb-30 wow fadeInUp">
                        <div class="blog-img-2">
                            <a href="blog-details.html"><img alt="" src="img/blog/beauty-fragrance-girl-6404.jpg"></a>
                        </div>
                        <div class="blog-info-wrapper-2 text-center">
                            <div class="blog-meta-2">
                                <ul>
                                    <li>Firm</li>
                                    <li><a href="#">Mango</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">Ezone Fruit Blog Lorem Ipsum is simply Title goes here.</a></h3>
                            <div class="blog-meta-2">
                                <ul>
                                    <li><a href="#">02 Like</a></li>
                                    <li><a href="#">04 Comment</a></li>
                                    <li><a href="#">300 View</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-wrapper mb-30 wow fadeInRight">
                        <div class="blog-img-2">
                            <a href="blog-details.html"><img alt="" src="img/blog/markus-spiske-F4OSQC0nxXs-unsplash.jpg"></a>
                        </div>
                        <div class="blog-info-wrapper-2 text-center">
                            <div class="blog-meta-2">
                                <ul>
                                    <li>Firm</li>
                                    <li><a href="#">Mango</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">Ezone Fruit Blog Lorem Ipsum is simply Title goes here.</a></h3>
                            <div class="blog-meta-2">
                                <ul>
                                    <li><a href="#">02 Like</a></li>
                                    <li><a href="#">04 Comment</a></li>
                                    <li><a href="#">300 View</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area end -->
{% endblock %}