<!-- header start -->
<header>
    <div class="header-bottom wrapper-padding-2 res-header-sm sticker header-sticky-3 furits-header">
        <div class="container-fluid">
            <div class="header-bottom-wrapper">
                <div class="logo-2 ptb-35">
                    <a href="/">
                        <img src="/img/logo/logo-10.png" alt="">
                    </a>
                </div>
                <div class="menu-style-2 handicraft-menu menu-hover">
                    <nav>
                        <ul>
                            <li><a href="/">home</a></li>
                            <li><a href="#">pages</a>
                                <ul class="single-dropdown">
                                    <li><a href="/profile">your profile</a></li>
                                    <li><a href="/about">about us</a></li>
                                    <li><a href="/login">login</a></li>
                                    <li><a href="/register">register</a></li>
                                    <li><a href="cart.html">cart page</a></li>
                                    <li><a href="checkout.html">checkout</a></li>
                                    <li><a href="wishlist.html">wishlist</a></li>
                                    <li><a href="/contact">contact</a></li>
                                </ul>
                            </li>
                            <li><a href="shop.html">shop</a>
                                <div class="category-menu-dropdown shop-menu">
                                    <div class="category-dropdown-style category-common2 mb-30">
                                        <h4 class="categories-subtitle"> shop layout</h4>
                                        <ul>
                                            <li><a href="shop-grid-2-col.html"> grid 2 column</a></li>
                                        </ul>
                                    </div>
                                    <div class="category-dropdown-style category-common2 mb-30">
                                        <h4 class="categories-subtitle"> product details</h4>
                                        <ul>
                                            <li><a href="product-details-2.html">tab style 2</a></li>
                                        </ul>
                                    </div>
                                    <div class="mega-banner-img">
                                        <a href="single-product.html">
                                            <img src="/img/banner/18.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li><a href="blog.html">blog</a>
                                <ul class="single-dropdown">
                                    <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                </ul>
                            </li>
                            <li><a href="/contact">contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="furits-login-cart">
                    <div class="furits-login">
                        <ul>
                            <li>
                                <a href="/login">Login</a>
                            </li>
                            <li>
                                <a href="/register">Reg</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-cart-4 furits-cart">
                        <a class="icon-cart" href="#">
                            <i class="pe-7s-shopbag"></i>
                            <span class="handicraft-count">{{ order.orderItems.count }}</span>
                        </a>
                        <ul class="cart-dropdown">
                            {% for orderItem in order.orderItems %}
                                <li class="single-product-cart">
                                    <div class="cart-img">
                                        <a href="#"><img src="{{ orderItem.product.baseImage }}"  width="85px" height="101px" alt=""></a>
                                        {#<a href="#"><img src="/img/cart/3.jpg" width="85px" height="101px" alt=""></a>#}
                                    </div>
                                    <div class="cart-title">
                                        <h5><a href="#"> {{ orderItem.product.name }}</a></h5>
                                        <h6><a href="#">Black</a></h6>
                                        <span>${{ orderItem.product.price }} x {{ orderItem.quantity }}</span>
                                    </div>
                                    <div data-product-id="{{ orderItem.product.id }}" class="cart-delete">
                                        <a href="#"><i class="ti-trash"></i></a>
                                    </div>
                                </li>
                            {% else %}
                                <li>
                                    <p>No items in cart!</p>
                                </li>
                            {% endfor %}

                            <li class="cart-space">
                                <div class="cart-sub">
                                    <h4>Subtotal</h4>
                                </div>
                                <div class="cart-price">
                                    <h4>${{ order.getOrderTotal }}</h4>
                                </div>
                            </li>
                            <li class="cart-btn-wrapper">
                                <a class="cart-btn btn-hover" href="/cart">view cart</a>
                                <a class="cart-btn btn-hover" href="/cart">checkout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mobile-menu-area handicraft-menu d-md-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li><a href="#">HOME</a>
                                    <ul>
                                        <li><a href="index.html">Fashion</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">pages</a>
                                    <ul>
                                        <li><a href="about-us.html">about us</a></li>
                                        <li><a href="cart.html">cart page</a></li>
                                        <li><a href="checkout.html">checkout</a></li>
                                        <li><a href="wishlist.html">wishlist</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">shop</a>
                                    <ul>
                                        <li><a href="shop-grid-2-col.html"> grid 2 column</a></li>
                                        <li><a href="product-details-2.html">tab style 2</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">BLOG</a>
                                    <ul>
                                        <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                    </ul>
                                </li>
                                <li><a href="/contact"> Contact  </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->